body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: red;
    font-size: 1em;
    transition: 0.25s ease-in-out;
}
a:hover {
    color:lightcoral;
    font-size: 1.15em;
}

figcaption {
    font-family: 'Courier New', Courier, monospace;
}
label {
    font-family: 'Courier New', Courier, monospace;
}


.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-scroll {
    overflow: hidden;
}

.bar {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    width: 100%;
}

.blue-bar {
    background-image: linear-gradient(to bottom, blue, darkblue);
    background-color: blue;
}

.red-bar {
    background-image: linear-gradient(to bottom, red, darkred);
    background-color: red;
}

.green-bar {
    background-image: linear-gradient(to bottom, green, darkgreen);
    background-color: green;
}

.purple-bar {
    background-image: linear-gradient(to bottom, purple, rgb(80, 0, 80));
    background-color: purple;
}

.navbar {
    background-color: black;
}

.navbar a {
    color: white;
    padding-right: 4%;
}

form {
    color: white;
}

.large-input {
    width: 50%;
    height: 100px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}

.gallery figure img {
    width: 100%;
}

/* dictionary */
.dictionary {
    padding: 0.5%;
}

.dictionary li {
    display: flex;
    justify-content: space-between;
    width:15%;
    padding-right:0.5%;
}

.dictionary li::before {
    content:"•";
    align-self: center;
    padding-left:5%;
    padding-right:5%;
}

.dictionary li p {
    padding-left:3%;
    padding-right:3%;
}

.dictionary li hr {
    width:100%;
    align-self: center;
}

.primary {
    background-color: rgb(68, 4, 68);
    border-radius:20px;
}

/* dictionary variants */
.dict-long li {
    width:35%;
}

.dict-long li::before {
    padding-left:3%;
    padding-right:3%;
}

.prim-contact {
    background-color: rgb(20, 68, 4);
}

/* home page leaves */
@keyframes flutterX {
    0%, 100% {
        transform: translateX(calc(50px + var(--x-offset)));
    }
    50% {
        transform: translateX(calc(30px + var(--x-offset)));
    }
}
@keyframes flutterY {
    0%, 100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
}
@keyframes flutterR {
    0%, 100% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
}

.leaves {
    --x-offset: 0px;
    animation: flutterX 1s cubic-bezier(0.37, 0, 0.63, 1) infinite;
    animation-duration: var(--dur, 2s);
    animation-delay: var(--delay, 0s);
    overflow-x: clip;
}
.leaves div {
    animation: flutterY 1s cubic-bezier(0.37, 0, 0.63, 1) infinite;
    animation-duration: var(--dur, 2s);
    animation-delay: var(--delay, 0s);
    transform-origin: bottom right;
}
.leaves div img {
    animation: flutterR 1s cubic-bezier(0.37, 0, 0.63, 1) infinite;
    animation-duration: var(--dur, 2s);
    animation-delay: var(--delay, 0s);
    transform-origin: bottom right;
    width: var(--wid, 25%);
    position: fixed;
    bottom: 0;
    right: 0;
}