body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: red;
    font-size: 1em;
    transition: 0.25s ease-in-out;
}
a:hover {
    color:lightcoral;
    font-size: 1.15em;
}

figcaption {
    font-family: 'Courier New', Courier, monospace;
}
label {
    font-family: 'Courier New', Courier, monospace;
}


.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-bar {
    background-image: linear-gradient(to bottom, blue, darkblue);
    background-color: blue;
    color: white;
    width: 100%;
}

.red-bar {
    background-image: linear-gradient(to bottom, red, darkred);
    background-color: red;
    color: white;
    width: 100%;
}

.green-bar {
    background-image: linear-gradient(to bottom, green, darkgreen);
    background-color: green;
    color: white;
    width: 100%;
}

.purple-bar {
    background-image: linear-gradient(to bottom, purple, rgb(80, 0, 80));
    background-color: purple;
    color: white;
    width: 100%;
}

.navbar {
    background-color: black;
}

.navbar a {
    color: white;
    padding-right: 4%;
}

form {
    color: white;
}

.large-input {
    width: 50%;
    height: 100px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}

.gallery figure img {
    width: 100%;
}

/* dictionary */
.dictionary {
    padding: 0.5%;
}

.dictionary li {
    display: flex;
    justify-content: space-between;
    width:15%;
    padding-right:0.5%;
}

.dictionary li::before {
    content:"•";
    align-self: center;
    padding-left:5%;
    padding-right:5%;
}

.dictionary li p {
    padding-left:3%;
    padding-right:3%;
}

.dictionary li hr {
    width:100%;
    align-self: center;
}

.primary {
    background-color: rgb(68, 4, 68);
    border-radius:20px;
}

/* dictionary variants */
.dict-long li {
    width:25%;
}

.dictionary li::before {
    padding-left:3%;
    padding-right:3%;
}

.prim-contact {
    background-color: rgb(20, 68, 4);
}